@charset "utf-8";

/* CSS Document */
/*----------------------------------------------------------------
[Table of contents]

1. ELEMENTS


/*----------------------------------------------------------------
1. ELEMENTS
-------------------------------------------------------------------*/
body {
  background-image: url("../img/circles-light.png") !important;
  font-family: 'Georgia', Times, Times New Roman, serif !important;
}

.greenBg {
  background-color: darkcyan;
  border: none;
}

.greenbrdr {
  border: 1px solid darkcyan;
}

p span {
  color: #c4def0;
}

.cursor {
  cursor: pointer !important;
}

#game_scoreBoard,
#game_footer {
  background-color: darkcyan;
  color: #fff;
}

#alreadyTyped {
  width: 100%;
}

.letter {
  width: 30px;
  height: 30px;
  border-style: solid;
  padding: 2px;
  margin: 2px;
}

.letter-button-color {
  color: darkcyan;
}

.letter-button:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}